*{

    outline: none;
    padding: 0;
    margin: 0;
}

body{
    height: 430vh;
}


#main-img{
    margin-top:40px ;
    position: absolute;
    height: 601px;
    width: 502px;

}

#first-container{
   
    height: 400px;
    background-color: #edd5b6;
  
}

h3{
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 1.3em;
    text-transform: uppercase;

}

#first-container h1{
    font-size: 3em;
     font-family: 'Noto Serif', serif;

}

#text-container{
    padding-top: 100px ;
    position: relative;
    left: -50px;
    background: #f6f6f6;
}

#father-text-container{
    background: #f6f6f6;
}

#two-container h1{
    font-size: 2.5em;
    font-family: 'Noto Serif', serif;

}

p{
    font-family: 'PT Sans', sans-serif;
}

 a{
    text-decoration: none !important;
    font-size: 0.7em;
    color: black;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

a:hover{
    transition: color 0.8s linear;
    color: darkgray;
}

.button-show-more{
    letter-spacing: 1.5px;
    padding: 7px 35px !important ;
    border: 1px solid black !important;

}

#section-two{
    margin-top: 340px;
}

#secondary-img{
    margin-left: -15px;
    margin-top: -190px;
    height: 671px;
    width: 440px;
    position: absolute;
}


/*three section*/


#three-section h1, h4{
    font-family: 'Noto Serif', serif;
}

#three-section, #four-section, #five-section{
    margin-top: 270px;
}

#container-img{

    margin-left: -15px;
    margin-right: 120px;
    box-shadow: 88px -80px #edd5b6; 
    height: 415px;
    
}

#container-img-2{
    margin-top: 160px;
    margin-left: -15px;
    margin-right: 170px;
    box-shadow: 190px -110px #edd5b6; 
    height: 435px;
    
}

#container-img-5{

    margin-left: -15px;
    padding-left: 25px;
    display: flex;
    justify-content: center;
    height: 430px;
    width: 600px;
    background-color: #edd5b6;
    
}

#container-img-6{
    

    
}

#title-products{
    margin-top: 50px;
    margin-bottom: 175px;
}


#img-3{
    height: 530px;
    width: 590px;
}


#img-5{
    
          
    margin-top: 150px !important;
    width:500px ;
    height: 400px;
    object-fit: cover;
    object-position: 50% 30% ;
    

 
}
#img-6{
    box-shadow: 80px 70px 0px #edd5b6 !important; 
    margin-top: -175px;
    height: 560px ;
    width:402 ;


    

 
}

#text-girl-jacket{
    padding-left: 44px;
    margin-top: 150px;
}



#text-girl-6{
    padding-left: 80px ;
    margin-top: 100px;
}



#img-7{
    height: 520px;
    border-image-width: 400px;
}

#five-section{
    margin-top: 90px !important;
    height: 400px;
    margin: 0 auto ;
    background-color: #edd5b6;
    width: 66%;
}


#five-section h1, h4{
    font-family: 'Noto Serif', serif;
}

#five-section h1{
    font-size: 45px;
    font-weight: 300;
}

#container-img-7{
    padding-left: 35px;
    padding-top: 65px;
    
}

#container-text-7{
    margin-left: 38px;
    padding-top: 165px ;
}

#show-more-7{
    margin-top: 10px;
}


#six-section{
    background-color: #edd5b6;
    margin-top: 215px;
} 

#six-section h2{
    padding-top: 125px;
    margin-bottom: 25px;
    font-family: 'Noto Serif', serif;
}

#six-section p{
   margin-bottom: 30px;
}

.input-subscribe{
    width: 230px;
    margin-right: 11px;
    font-family: 'PT Sans', sans-serif !important;
    padding: 10px;
    color: #51241c;
    background-color: #edd5b6;
    border-radius: 3px;
    border: 1px solid #3b1919;
}

input::placeholder{
    color:#928371 ;
}

input[type="submit"]{

    margin: 2px;
    outline: none;
    border: none;
    font-family: 'PT Sans', sans-serif;
    color: #f4fbff;
    background-color: #212121;
    padding: 11px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;

}

#newsletter{
    padding-left:49px;
}

#container-img-folha{
    margin-right: 30px;
}

#footer-page{
    padding: 60px 60px;
    background-color: #333333;

}


#footer-page h2{
    color: #ffffff;
    font-family: 'Noto Serif', serif;
}

#footer-page p{
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}




